#navbar{
    top: 0px;
    height: 75px;
    background-color: pink;
    position: fixed;
    width: 100%; 
     
}
#img{
    height: 60px;
    width: 60px;
    margin-right: 100px ;
    padding-left: 10px;
    padding-top: 10px;   
}
#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 90px;
    background-color: pink;
    width: 100%;
    padding: 10px;
}
a{
    margin-right: 100px;
    text-decoration: none;
    text-decoration-color: blueviolet;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: lightblue;
}
#content{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color:blue;
    
}
h3{
    text-align: center;
}
ul{
    
}
p{
    text-align: center;
    font-weight: bold;
}
#about{
    position:absolute;
    padding-top: 100px;
    padding-bottom: 15%;
    color: blue;

}
i{
    size: 5px;
    margin-right: 48px;
    padding-top: 20px;
}
#copy{
    margin-right: 35px;
}