#navbar{
    top: 0px;
    height: 75px;
    background-color: pink;
    position: sticky;
    width: 100%; 
     
}
#img{
    height: 60px;
    width: 60px;
    margin-right: 100px ;
    padding-left: 10px;
    padding-top: 10px;   
}
a{
    margin-right: 100px;
    text-decoration: none;
    text-decoration-color: blueviolet;
}
#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 90px;
    background-color: pink;
    width: 100%;
    padding: 10px;
}
#form{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}
#frame{
    height: 400px;
    width: 600px;
    
}
#we{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
    background-color: yellow
}
#copy{
    margin-right: 35px;
}
i{
    size: 5px;
    margin-right: 48px;
    padding-top: 20px;
}